@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Courgette&family=Merriweather:ital@0;1&family=Sansita+Swashed:wght@600&display=swap');

/* 
font-family: 'Courgette', cursive;  -- jumbottron
font-family: 'Merriweather', serif; -- contenido tabla
font-family: 'Sansita Swashed', cursive; -- en h1
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:
    url(/img/library.jpg),
    #d9c4aa;
    background-blend-mode: screen;
    background-size:contain;
    
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    color: #3c4856;
}

.jbt {
    font-family: 'Courgette', cursive;
    color: #796248 !important;

}

.jbt h3{
    text-shadow: 0 4px 8px;
}

.cssInput {
    background-color: #d8cbbb;
    color: #3c4856;
    outline: none;
}

/* centrar encabezado y contenido de la tabla */

.tabla {
    text-align: center;
}

.encabezado {
    font-weight: bold;
    color: #3c4856;
    border-bottom: 2px solid #3c4856;
    justify-content: center;
}

.row {
    justify-content: center;
}

.mostrar {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #796248;
}

.tituloLibro {
font-style: italic;
}

/* Botones */
.btnGeneral {
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.2);
}

.Toastify {
    border-radius: 15px;
}
